<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>従業員一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="header">
    <span class="big_title">S</span>hun
    <span class="big_title">C</span>ub
</div>
<div class="menu">
    <div class="main_frame">
        <p>従業員一覧</p>
    </div>
</div>
<div class="main_wrapper">
    <div class="main_admin" th:if="${error != null}">
        <p class="error" th:text="${error == 'notfound'} ? '従業員情報が見つかりませんでした。' : ${error}"></p>
    </div>
    <form th:action="@{/admin/employees/action}" method="post">
        <div class="show_all_table">
            <table class="border_table">
                <tr class="top_table">
                    <td></td>
                    <td>従業員コード</td>
                    <td>氏名</td>
                    <td>かな</td>
                    <td>性別</td>
                    <td>生年月日</td>
                    <td>所属部署</td>
                    <td>入社日</td>
                </tr>
                <tr class="main_table" th:each="employee : ${employees}">
                    <td><input type="radio" name="employeeCode" th:value="${employee.employeeCode}"></td>
                    <td th:text="${employee.employeeCode}"></td>
                    <td th:text="${employee.employeeName}"></td>
                    <td th:text="${employee.employeeKanaName}"></td>
                    <td th:text="${employee.gender}"></td>
                    <td th:text="${#dates.format(employee.birthDay, 'yyyy-MM-dd')}"></td>
                    <td th:text="${employee.sectionName}"></td>
                    <td th:text="${#dates.format(employee.hireDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </table>
        </div>
        <div class="comment_show_all">編集・削除したい従業員にチェックを入れてください</div>
        <div class="employee_button">
            <button type="submit" name="action" value="edit" class="display_button">従業員を編集する</button>
            <button type="submit" name="action" value="delete" class="display_button">従業員を削除する</button>
        </div>
    </form>
    <div class="link_main_button">
        <button class="display_button" type="button" th:onclick="|location.href='@{/admin/menu}'|">メニュー画面に戻る</button>
    </div>
</div>
<div class="footer_top">
    <table class="table_format">
        <tr><th>管理者情報</th></tr>
        <tr><td class="cel">会社名</td><td>&nbsp;</td><td>合同会社 しゅんカブ</td></tr>
        <tr><td class="cel">Tell</td><td>&nbsp;</td><td>080-0000-0000</td></tr>
        <tr><td class="cel">Email</td><td>&nbsp;</td><td>portforio@shuncub.com</td></tr>
    </table>
</div>
<div class="footer_design">
    <footer>
        <small>© 2022 Shuncub.</small>
    </footer>
</div>
</body>
</html>
