<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>従業員用メニュー画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="header">
    <span class="big_title">S</span>hun
    <span class="big_title">C</span>ub
</div>
<div class="menu">
    <div class="main_frame">
        <p>従業員用メニュー画面</p>
    </div>
</div>
<div class="main_wrapper">
    <div class="employee_button">
        <button class="a_display_button" type="button" th:onclick="|location.href='@{/attendance/timecard}'|">打刻する</button>
        <button class="a_display_button" type="button" th:onclick="|location.href='@{/attendance/timesheet}'|">月次報告する</button>
    </div>
    <div class="logout_button">
        <form th:action="@{/attendance/logout}" method="post">
            <input type="submit" class="a_display_button" value="ログアウト">
        </form>
    </div>
    <div class="display_top">
        <button class="display_button" type="button" th:onclick="|location.href='@{/}'|">Topページ</button>
    </div>
</div>
<div class="footer_top">
    <table class="table_format">
        <tr><th>管理者情報</th></tr>
        <tr><td class="cel">会社名</td><td>&nbsp;</td><td>合同会社 しゅんカブ</td></tr>
        <tr><td class="cel">Tell</td><td>&nbsp;</td><td>080-0000-0000</td></tr>
        <tr><td class="cel">Email</td><td>&nbsp;</td><td>portforio@shuncub.com</td></tr>
    </table>
</div>
<div class="footer_design">
    <footer>
        <small>© 2022 Shuncub.</small>
    </footer>
</div>
</body>
</html>
