<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>月次報告画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="header">
    <span class="big_title">S</span>hun
    <span class="big_title">C</span>ub
</div>
<div class="menu">
    <div class="main_frame">
        <p>月次報告画面</p>
    </div>
</div>
<div class="main_wrapper">
    <div class="main_admin">
        <div>表示させたい年月を選択してください</div>
    </div>
    <div class="main_admin" th:if="${error != null}">
        <p class="error" th:text="${error}"></p>
    </div>
    <form th:action="@{/attendance/timesheet}" method="post" th:object="${timesheetForm}">
        <select th:field="*{month}" class="margin_r" required>
            <option value="" disabled th:if="*{month} == null" selected>選択してください</option>
            <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
        </select>
        <input type="submit" value="タイムシートを表示する" class="attendance_select_timesheet">
    </form>
    <div class="a_logout_button">
        <button class="display_button" type="button" th:onclick="|location.href='@{/attendance/menu}'|">メニューに戻る</button>
    </div>
</div>
<div class="footer_top">
    <table class="table_format">
        <tr><th>管理者情報</th></tr>
        <tr><td class="cel">会社名</td><td>&nbsp;</td><td>合同会社 しゅんカブ</td></tr>
        <tr><td class="cel">Tell</td><td>&nbsp;</td><td>080-0000-0000</td></tr>
        <tr><td class="cel">Email</td><td>&nbsp;</td><td>portforio@shuncub.com</td></tr>
    </table>
</div>
<div class="footer_design">
    <footer>
        <small>© 2022 Shuncub.</small>
    </footer>
</div>
</body>
</html>
